.wrapper {
  display: grid;
  height: 100%;
  place-content: center;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: clamp(0px, 100%, 1200px);
  box-sizing: border-box;
  padding: 2rem;
  gap: 1rem;
}
